
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Default rule: Deny all access. 
      // Update this when you are ready to allow file uploads.
      allow read, write: if false;
    }
  }
}
